# Puerto del servidor
PORT=3001

# Conexión a Base de Datos PostgreSQL
DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/ferreteria_nazca?schema=public"

# Seguridad JWT
JWT_SECRET="tu_clave_secreta_super_segura_aqui"

# Configuración de Cloudinary (Subida de imágenes y comprobantes)
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"
