CREATE DATABASE IF NOT EXISTS ferreteria_nazca;
USE ferreteria_nazca;

CREATE TABLE categorias (
  id INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL,
  descripcion TEXT,
  activa BOOLEAN DEFAULT TRUE
);

CREATE TABLE productos (
  id INT AUTO_INCREMENT PRIMARY KEY,
  codigo VARCHAR(50) NOT NULL UNIQUE,
  nombre VARCHAR(150) NOT NULL,
  descripcion TEXT,
  categoria_id INT,
  precio_compra DECIMAL(10,2) NOT NULL,
  precio_venta DECIMAL(10,2) NOT NULL,
  unidad VARCHAR(50) DEFAULT 'unidad',
  stock_actual INT DEFAULT 0,
  stock_minimo INT DEFAULT 0,
  activo BOOLEAN DEFAULT TRUE,
  FOREIGN KEY (categoria_id) REFERENCES categorias(id)
);

CREATE TABLE usuarios (
  id INT AUTO_INCREMENT PRIMARY KEY,
  nombre VARCHAR(100) NOT NULL,
  email VARCHAR(150) NOT NULL UNIQUE,
  password VARCHAR(255) NOT NULL,
  rol ENUM('admin', 'vendedor') DEFAULT 'vendedor',
  activo BOOLEAN DEFAULT TRUE
);

-- Insertar datos por defecto
INSERT INTO categorias (nombre, descripcion, activa) VALUES
('Herramientas', 'Herramientas manuales y eléctricas', TRUE),
('Pinturas', 'Pinturas y accesorios', TRUE);

INSERT INTO productos (codigo, nombre, descripcion, categoria_id, precio_compra, precio_venta, unidad, stock_actual, stock_minimo, activo) VALUES
('HER-001', 'Martillo 16oz', 'Martillo de uña, mango de fibra de vidrio', 1, 15.00, 25.00, 'unidad', 20, 5, TRUE);

-- La password es 'admin123' hasheada
INSERT INTO usuarios (nombre, email, password, rol, activo) VALUES
('Admin', 'admin@nasca.com', '\\\/l3L0bK6U.0P1FmOWjP9Qe/0dC.W8rF0hXqB8hR2V2f/FkO', 'admin', TRUE);
